a, span, div {
  margin-right: map-get($margin_container, small);
}
a, button {
  @include centered;
}
article, section {
  margin: 1rem 0;
}
a, span, ul, li{
  width: fit-content;
}

// Header
#logo {
  font-family: $font_logo;
  font-size: map-get($image_size, small);
  h1 {
    color: $color_white;
  }
  i {
    color: $color_yellow;
  }
}
.row-container {
  @include flexContainer(row);
}
.col-container {
  @include flexContainer(column);
}
.top-links{
  a {
    color: $color_white;
    font-size: map-get($font_size, small);
    &:hover {
      @include hoverLinksOrange;
    }
  }
  img {
    height: map-get($image_size, small);
  }
}
#phone-call {
  color: $color_orange;
  justify-content: flex-start;
  &:hover{
    @include hoverIconYellow;
  }
  img {
    height: map-get($font_size, medium);
  }
}
.nav-icon{
  font-size: map-get($image_size, small);
  @include centered;
  img {
    height: map-get($image_size, small);
    &:hover {
      @include hoverIconYellow;
    }
  }
}
.category-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: $color_blue;
  font-size: map-get($image_size, medium)/2;
  margin: map-get($margin_container, small) 0;
  line-height: 2.5rem;
  &:hover{
    @include hoverIconOrange;
  }
  img{
    margin-right: map-get($margin_container, small);
  }
}
.category-menu-text {
  color: $color_blue;
  font-size: map-get($image_size, medium);
  margin: map-get($margin_container, small) 0;
}
.category-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  a{
    color: $color_black;
    font-size: map-get($font-size, medium);
    &:hover{
      @include hoverIconOrange;
    }
  }
}
.social-icons{
  margin: map-get($margin_container, medium) 0;
    a:hover img {
      @include hoverIconOrange;
    }
}
.pay-icons{
  font-size: map-get($image_size, small);
  .nav-icon{
    img {
      height: map-get($image_size, small)*1.5;  
      &:hover{
        filter: none;
      }
    }
  }
}
.horizontal-line{
  height: 2px;
  // width: 100%;
  // margin: 0 -16px;  
    position: absolute;
    left: 0;
    right: 0; 
  background-color: $color_blue;
}
#overlay-mobile-menu{
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: $color_white;
  box-shadow: 2px 0px 2px $color_gray;
  .overlay-mobile-menu-start, .overlay-mobile-menu-center, .overlay-mobile-menu-end{
    padding: 0.8rem map-get($padding_container, small);
  }
  .overlay-mobile-menu-start{
    justify-content: space-between;
    background-color: $color_blue;
  }
}
#catalog-menu-open-button{
    height: map-get($image_size, medium);
    font-size: map-get($font_size, medium);
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 0.3rem 0 0 0.3rem;
    color: $color_white;
    background-color: $color_orange;
    cursor: pointer;
    &:hover {
      @include hoverLinksYellow;
    }
}
#overlay-catalog-menu{
  position: absolute;
  height: 0;
  width: 100%;
  top: 73px;
  left: 0;
  padding: 0 map-get($padding_container, small);
  z-index: 3;
  overflow-y: hidden;
  background-color: $color_white;
  box-shadow: 0px 2px 2px #bdbdbd;
  .overlay-catalog-menu-start{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .menu-section{
      flex: 0 0 100%;
      .category-links{
        display: none;
      }
    }
  }
}
#search-products-form, #search-on-dashboard-form{
  width: 100%;
  max-width: 700px;
  input, button {
    height: map-get($image_size, medium);
    font-size: map-get($font_size, medium);
  }
  input {
    width: 100%;
    flex: 1 1 200px;
    padding: 6px;
    outline: none;
    border: none;
    background-color: $color_white;
  }
  button {
    width: 100%;
    flex: 0 0 30px;
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 0 0.3rem 0.3rem 0;
    background-color: $color_white;
    cursor: pointer;
    img {
      height: map-get($font_size, big);
    }
  }
}
.catalog-menu, #overlay-mobile-menu, #overlay-dashboard-menu,
.dashboard-section-top, .dashboard-section-bottom 
{
  margin-right: 0;
  div{
    margin-right: 0;
  }
}

// Main
#overlay-dashboard-menu{
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 9;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: $color_white;
  box-shadow: 2px 0px 2px $color_gray;
  .horizontal-line{
    position: relative;
    margin: 0 -16px;
  }
  .overlay-dashboard-menu-start, .overlay-dashboard-menu-end{
    padding: 0.8rem map-get($padding_container, small);
  }
  .overlay-dashboard-menu-start{
    justify-content: flex-end;
    background-color: $color_gray;
  }
  .accordion-panel{
    display: none;
    padding-left:map-get($padding_container, small);
  }
}


.dashboard-section{
  width: 100%;
  white-space: normal;
  .dashboard-section-top{
    margin-bottom: map-get($margin_container, small);
    justify-content: space-between;
    align-items: center;
    .dashboard-section-top-start{
      width: 100%;
       max-width: 300px;
    }
  }
  .dashboard-section-bottom{
    margin-top: map-get($margin_container, small);
    .tabs{
      margin-bottom: map-get($margin_container, small);
      width: 100%;
      .tab {
        flex: 1;
        padding: 6px;
        outline: none;
        border: none;
        color: $color_white;
        background-color: $color_orange;
        height: map-get($image_size, medium);
        font-size: map-get($font_size, medium);
        cursor: pointer;
        &:hover {
          @include hoverLinksYellow;
        }
        &:first-child{
          border-radius: 0.3rem 0 0 0.3rem;
        }
        &:last-child{
          border-radius: 0 0.3rem 0.3rem 0;
        }
      }
    }
    .tab-panel{
      margin-top: map-get($margin_container, small);
    }

  }
}

#search-on-dashboard-form{
  border: 2px solid $color_orange;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.table{
  width: 100%;
  th, td{ 
    padding: .5rem;
    vertical-align: middle;
  }
  th {
    width: 7rem;
    margin-right: .5rem;
    color: #757474;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  img{
    margin-right: map-get($margin_container, small);
    height: map-get($image_size, small);
    border-radius: 50%;
  }
  .table-content{
    border-bottom: 2px solid $color_yellow;
    &:hover{
      background-color: #e2b22042;
    }
    .customer{
      display: flex;
      align-items: center;
    }
    .price{
      font-weight: 700;
    }
  }
  @media (max-width: 52rem) {
    .table-heading {
      display: none;
    }
    .table-content {
      display: block;
      td{
        display: flex;
        align-items: center;
        &::before{
          content: attr(data-heading);
          // display: inline-block;
          width: 7rem;
          margin-right: .5rem;
          color: #757474;
          font-size: .75rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
  }
}

// Footer
#subscribe-form {
  width: 100%;
  max-width: 450px;
  input, button {
    height: map-get($image_size, medium);
    font-size: map-get($font_size, medium);
  }
  input {
    width: 100%;
    flex: 1 1 200px;
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 0.3rem 0 0 0.3rem;
    background-color: $color_white;
  }
  button {
    width: 100%;
    flex: 0 0 80px;
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 0 0.3rem 0.3rem 0;
    color: $color_white;
    background-color: $color_orange;
    cursor: pointer;
    &:hover {
      @include hoverLinksYellow;
    }
  }
}

// Tablet response
@include tabletResponse {
  a, span, div {
    margin-right: map-get($margin_container, medium);
  }
  article, section {
    margin: 2rem 0;
  }
  // Header
  #logo {
    font-size: map-get($image_size, medium);
  }
  .nav-icon{
    font-size: map-get($image_size, medium);
    color: $color_blue;
    img {
      height: map-get($image_size, medium);
    }
  }
  .pay-icons{
    font-size: map-get($image_size, medium);
    .nav-icon{
      img {
        height: map-get($image_size, medium)*1.5;  
      }
    }
  }
  .category-text {
    font-size: map-get($image_size, big)/2;
  }
  .category-links {
    a{
      font-size: map-get($font-size, big);
    }
  }
  .category-menu-text{
    font-size: map-get($image_size, big);
  }
  #overlay-mobile-menu, #dashboard-menu-open-button{
    display: none;
  }
  #catalog-menu-open-button{
    height: map-get($image_size, big);
    font-size: map-get($font_size, big);
  }
  #overlay-catalog-menu{
    top: 76px;
    padding: 0 map-get($padding_container, big);
    .overlay-catalog-menu-start{
      .menu-section{
        flex: 0 0 45%;
        .category-links{
          display: flex;
        }
      }
    }
  }
  #search-products-form, #search-on-dashboard-form{
    input, button {
      height: map-get($image_size, big);
      font-size: map-get($font_size, big);
    }
    img {
      height: map-get($font_size, big)*2;
    }
  }

  // Main
  #overlay-dashboard-menu{
    position: relative;
    height: initial;
    flex: 0 0 30%;
    min-width: 235px;
    max-width: 275px;
    z-index: 1;
    box-shadow: none;
    margin-right: map-get($margin_container, big);
    .overlay-dashboard-menu-start{
      display: none;
    }
  }

  .dashboard-section{
    .dashboard-section-end{
      .tabs{
        width: 100%;
        .tab {
          height: map-get($image_size, big);
          font-size: map-get($font_size, big);
        }
      }
      .menu-section{
        flex: 0 0 100%;
      }
      .tabs{
        flex: 0 0 100%;
      }

    }
  }

  // Footer
  #subscribe-form {
    input, button {
      height: map-get($image_size, big);
      font-size: map-get($font_size, big);
    }
  }
  
}

// Desktop response
@include desktopResponse {
  // Header
  #overlay-catalog-menu{
    top: 94px;
  }
}

// Maximum response
@include maxResponse {
  // Header
  #overlay-catalog-menu{
    .overlay-catalog-menu-start{
      .menu-section{
        flex: 0 0 30%;
      }
    }
  }

  // Main
  .dashboard-section{
    .menu-section{
      flex: 0 0 30%;
    }
    .menu-section:last-child{
      flex: 100%;
    }
  }

}