// Main
main{
    padding: 0 map-get($padding_container, small);
    #carousel-slider {
        width: 100%;
        height: 380px;
      }
}

// Tablet response
@include tabletResponse {
    padding: 0 map-get($padding_container, medium);
}